<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>TODOアプリ</title>
</head>
<body>
	
	<h1>TODOアプリ</h1>
	
	<form action="/add" method="post">
		
		<input type="text" name="taskName">
		
		<button type="submit">
			追加
		</button>
		
	</form>
	
	<hr>
	
	<h2>未完了</h2>
	
	<ul>
		
		<li th:each="task, stat : ${tasks}"
			th:if="${!task.completed}">
			
				[[${task.name}]]
			
			<!-- 完了 -->
			<form action="/complete"
				  method="post"
				  style="display:inline;">
			
				<input type="hidden"
					   name="index"
					   th:value="${stat.index}">
				   
				<button type="submit">
					完了
				</button>
			</form>
			
			<!-- 削除 -->
			<form action="/delete"
				  method="post"
				  style="display:inline;">
						
				<input type="hidden"
					   name="index"
					   th:value="${stat.index}">
							   
				<button type="submit">
					削除
				</button>
			</form>

		</li>
		
	</ul>		
	
	<hr>
		
	<h2>完了済み</h2>

	<ul>
			
		<li th:each="task, stat : ${tasks}"
			th:if="${task.completed}">
			
			<span style="text-decoration: line-through; color: gray;">
			[[${task.name}]]
			</span>
			
			<!-- 戻す -->
			<form action="/undo"
				  method="post"
				  style="display:inline;">
									
				<input type="hidden"
				 	   name="index"
				   	   th:value="${stat.index}">
										   
				<button type="submit">
					戻す
				</button>
			</form>
			
			<!-- 削除 -->
			<form action="/delete"
				  method="post"
				  style="display:inline;">
									
				<input type="hidden"
					   name="index"
					   th:value="${stat.index}">
										   
				<button type="submit">
					削除
				</button>
			</form>
		</li>
	</ul>
	
</body>
</html>